{% extends 'base.html' %}

{% block head %}
<title>About Us - SnapLink &copy</title>
{% endblock %}

{% block body %}



<main class="main">
    <!--==================== home : upload page ====================-->
    <section class="container ">
        <div class="page__data page__border">
            <div class="page__title"><strong>SnapLink &copy; - About Us</strong></div>
            <div class="home__description">
                <br>
                <h1>Welcome to SnapLink - Your Free and Simple Image Hosting Solution!</h1>
                <br>
                <br>

                <p><strong>SnapLink</strong> was created by a team of four backend developers:
                     <a href="https://github.com/YOUNESSE25" target="_blank" style="color: hsl(323, 100%, 50%);">YOUNESSE25</a>,
                     <a href="https://github.com/MASTAX" target="_blank" style="color: hsl(323, 100%, 50%);">MASTAX</a>,
                     <a href="https://github.com/MMMBenchahyd" target="_blank" style="color: hsl(323, 100%, 50%);">MMMBENCHAHYD</a> and 
                     <a href="https://github.com/ZAKARIIIA" target="_blank" style="color: hsl(323, 100%, 50%);">ZAKARIIIA</a>
                     as part of our portfolio project in the <strong>ALX Africa Software Engineering Program</strong>.</p>

                <br>
                <p><strong>Our</strong> goal is to provide an <u>easy-to-use platform</u> where users can <u>upload and share images effortlessly</u>,
            with support for <u>direct links, GitHub, and HTML markdown formats</u>.</p>
            <br>

            <h2>Why Choose SnapLink?</h2>
            <br>
            <ul>
                <li><strong><i class="ri-number-1"></i>- Free & Unlimited Uploads</strong>: No limits on the number of images (max size: 10MB per image).</li>
                <li><strong><i class="ri-number-2"></i>- Direct Links for Developers</strong>: Get direct URLs, markdown links, and GitHub-compatible links instantly.</li>
                <li><strong><i class="ri-number-3"></i>- Secure & Reliable Hosting</strong>: Your images are stored on <strong>Amazon Cloud</strong> with top-tier security measures.</li>
                <li><strong><i class="ri-number-4"></i>- Permanent Image Hosting</strong>: Your images will remain online as long as SnapLink is operational.</li>
                <li><strong><i class="ri-number-5"></i>- User Privacy First</strong>: We <strong>never</strong> share your images or your informations with
                     third parties and enforce <strong>strict content policies</strong>.</li>
            </ul>
            <br>

            At <strong>SnapLink</strong>, we believe in <strong>open, accessible, and secure</strong> image hosting for everyone.

            Thank you for using <strong>SnapLink!<i class="ri-flashlight-line"></i></strong>

        </div>
            


        </div>
    </section>

</main>


{% endblock %}