{% extends 'base.html' %}

{% block head %}
<title>Contact us - SnapLink &copy;</title>
{% endblock %}

{% block body %}

<main class="main">
    <section class="container">
        <div class="page__data page__border">

            <h1 class="home__title">Contact Us</h1>
            <p>If you need to contact us, please send an email to <a href="mailto:support@snaplink.com">support@snaplink.com</a>.  
                <br><br>

                When reaching out, try to specify the subject of your inquiry to help us assist you faster.  
                <br><br>

                If possible, include relevant details about your request, such as:  <br> <br>
                </p>
                
                <ul>
                    <li><strong>Illegal Content or Rights Violations (DMCA Complaint):</strong> Provide links and details about the <br> <br> </issue></li>
                    <li><strong>General Questions/Concerns:</strong> Any inquiries regarding our services. <br> <br> </li>
                    <li><strong>Suggestions and Bug Reports:</strong> Describe the issue or suggestion clearly. <br> <br></li>
                    <li><strong>Collaboration/Advertising:</strong> Explain your proposal or partnership request. <br> <br> </li>
                    <li><strong>Other:</strong> Any topic not covered above. <br> </li>
                </ul>
                <br> <br>
                <p>We strive to respond as quickly as possible. Thank you for reaching out!</p>
                
            
        </div>
    </section>
</main>

{% endblock %}
