{% extends 'base.html' %}

{% block head %}
<title>Forgot Password - SnapLink &copy;</title>
{% endblock %}

{% block body %}

<main class="main">
    <section class="container">
        <div class="page__data page__border">
            <br>
            <h2>Password recovery:</h2> <br><br>
            <p>If you need to recover your password, please fill out the form below:</p> <br> <br>
            <form id="contactForm" method="POST" class="form-container">
                <div class="form-group">
                    <label for="email" class="form-label">Email Address:</label> <br>
                    <input type="email" id="email" name="email" placeholder="Enter your account email"
                        class="form-input" required>
                </div>
                <button type="submit" class="form-button">Send Reset Link</button>
            </form>

            <br><br><br><br>


        </div>
    </section>




</main>

{% endblock %}