{% extends 'base.html' %} {% block head %}
<title>Welcome SnapLink &copy</title>
{% endblock %} {% block body %}

<main class="main">
  <!--============ home page for snap link home page   ==============-->
  <section class="home">
    <div class="container home__container">
      <div class="home__data">
        <h1 class="home__title">
          Welcome to<br />
          <i class="ri-share-box-line"></i> SanpLink
        </h1>
        <p class="home__description">
          Effortless image hosting made simple!<br />
          Upload your images, get instant links, and share them anywhere
          online.<br /><br />

          {% if user_is_authenticated %}
          <a href="/" class="home__button">Start Uploading Now</a> <br />
          {% else %}
          <button class="home__button openSignupPopup">
            Create Account Now
          </button>
          <br />
          {% endif %}
          <strong><br /><br />Why SnapLink?</strong>

          <br /><i class="ri-timer-flash-line"></i> Fast and reliable hosting
          <br /><i class="ri-user-shared-2-line"></i> Easy-to-use sharing links
          <br /><i class="ri-loop-right-line"></i> Unlimited possibilities.
        </p>
        <div class="home__dynamic-img">
          <img src="static/img/img-homepage.png" alt="Dynamic Image" />
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
