{% extends 'base.html' %} {% block body %}

<main class="main">
  <!--==================== Payment Success Block ====================-->
  <section class="container home__container">
    <div class="page__data page__border">
      <div>
        <h1 style="text-align: center">Thank you for your donation!</h1>

        <p style="text-align: center">
          Your donation has been successfully processed.
        </p>

        <div style="text-align: center; margin-top: 20px">
          <a href="/" class="button"><strong>Return to Home</strong></a>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock %}
