{% extends 'base.html' %} {% block head %}
<title>Forgot Password - SnapLink &copy;</title>
{% endblock %} {% block body %}

<main class="main">
  <section class="container">
    <div class="page__data page__border">
      <br />
      <h1>Reset Password:</h1>
      <br /><br />
      <p>Please enter a new password below:</p>
      <br />
      <br />
      <div>
        <form id="contactForm" method="POST" class="form-container">
          <div class="form-group">
            <label for="new_password" class="form-label">New Password:</label>
            <br />
            <input
              type="password"
              id="new_password"
              name="new_password"
              placeholder="Enter a new password"
              class="form-input"
              required
            />
          </div>
          <button type="submit" class="auth-button">Reset Password</button>
        </form>
      </div>
      <br /><br /><br /><br />
    </div>
  </section>
</main>

{% endblock %}
